@page
@model JS_Ecommerce.Pages.Inventory.IndexModel
@{
    ViewData["Title"] = "Inventory - The Jon Snow Shop";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    int counter = 0;
}

<head>
    <link rel="stylesheet" href="~/css/inventory.css" />
</head>
<body>
    <section class="prod-intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <h2 class="mt-4 align-middle">The Lives of Jon Snow</h2>
                    <p class="align-middle">Re-live the life of the true king of the north!</p>
                </div>
                <div class="col-sm-8">
                    <img src="https://fsmedia.imgix.net/38/d2/c8/86/fc43/4d79/85ec/636d053528b2/kit-harington-as-jon-snow-in-game-of-thrones.png"
                         class="img-fluid" alt="Jon Snow Intro Image"/>
                </div>
            </div>
        </div>
    </section>
    <section class="prod-listing p-4">
        <h2 class="text-center mt-3">Our Amazing Products</h2>
        <div class="container text-center p-4">
            <div class="row">
                @foreach (var item in Model.Inventory)
                {
                    if (counter != 0 && counter % 3 == 0)
                    {
                    @:</div>
                    @:<div class="row">
                    }
                    <div class="col-md p-5">
                        <i class="fas fa-user-circle display-3 m-4"></i>
                        <p class="lead">@item.Name (@item.ItemId)</p>
                        <p>@item.Description</p>
                        @if (item.InStock)
                        {
                            <p class="text-success">In Stock</p>
                        }
                        else
                        {
                            <p class="text-danger">Out of Stock</p>
                        }
                    </div>
                    counter++;
                }
            </div>
        </div>
    </section>
</body>