@page
@model JS_Ecommerce.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome to the Jon Snow Shop";
    Layout = "_Layout";

}

<h1 class="text-center">Welcome to the Jon Snow Shop</h1>
<br/>
<div class="container">
    <div class="text-center">
        <img src="https://wallpaperstock.net/jon-snow-game-of-thrones-wallpapers_33138_1024x768.jpg"
             alt="Jon Snow Image" class="img-fluid" />
    </div>
</div>