@page
@model JS_Ecommerce.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome to the John Snow Shop";
    Layout = "_Layout";

}

<h2>Index</h2>
<p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel pulvinar purus. Nunc lectus ipsum, bibendum volutpat congue sit amet, rhoncus quis ex. Cras a maximus tellus. Praesent id lobortis dui, venenatis commodo diam. Pellentesque bibendum et lacus vel molestie. Mauris velit erat, congue interdum ullamcorper eget, sodales ac nibh. Integer mi lacus, fringilla ut diam ut, luctus malesuada ex. Nam sed commodo massa, sodales posuere augue. Aenean mollis, nisi sit amet venenatis sagittis, mauris eros tincidunt arcu, id lacinia nibh orci eu leo.

    Vivamus dapibus lorem a tempor fringilla. Maecenas porta odio in nibh euismod, tristique sollicitudin ligula fermentum. Donec euismod mi ac nulla sodales ullamcorper. Pellentesque et viverra dolor. Fusce posuere, nisl ac efficitur semper, velit nisl fringilla risus, vel tincidunt odio risus vel lorem. Morbi rutrum turpis sed libero hendrerit imperdiet. Etiam sit amet fermentum risus, sit amet venenatis dui. Quisque pulvinar cursus est, quis placerat dui sagittis et. Etiam luctus tellus vestibulum velit semper, non gravida ipsum imperdiet. Donec dictum sem at neque vehicula interdum. Phasellus quis facilisis turpis. Nam iaculis dapibus fermentum. Maecenas quis ullamcorper nunc. Vivamus quis aliquam orci. Mauris dignissim maximus orci, mollis luctus arcu egestas a.

    Duis imperdiet arcu vitae tellus porttitor, non tempor tortor euismod. Integer lacinia hendrerit est, at pellentesque turpis iaculis eleifend. Nulla facilisi. Morbi dignissim pharetra nisi, at aliquet ante gravida eu. Sed rutrum dui tellus, sit amet mollis nisi faucibus id. Sed eros massa, egestas eu nisi vitae, tempor imperdiet ligula. Quisque nec ullamcorper est. Maecenas tincidunt dolor et dolor pulvinar porta non sit amet felis. Cras feugiat rhoncus nisl, quis tristique risus volutpat a. Phasellus fermentum lacinia nisl a maximus. Praesent dignissim, nibh ut mattis lobortis, elit eros tincidunt nunc, viverra volutpat tortor felis gravida neque.

    Morbi sem elit, porta a leo vitae, gravida tincidunt velit. Nunc aliquet mattis purus. Sed rhoncus quis orci sit amet sagittis. Nunc ultricies tortor in lectus rutrum aliquet. Duis vel posuere quam, nec vehicula justo. Maecenas eget accumsan eros, a luctus diam. Vestibulum varius elit nec neque egestas, vel venenatis nibh maximus. Etiam convallis eros eu condimentum bibendum. Curabitur vestibulum quam vitae tincidunt euismod. Duis iaculis nisi id sapien posuere sodales. Phasellus commodo consectetur dolor, aliquam aliquet erat interdum eget.

    Mauris eleifend sodales sem quis maximus. Aliquam erat volutpat. Nam iaculis vel felis eu auctor. Nam quis euismod lorem, sit amet vestibulum augue. Vestibulum egestas lectus sed diam pulvinar, at interdum turpis condimentum. Proin quis pulvinar ipsum. Curabitur egestas venenatis commodo. Aenean at gravida nunc, ac gravida velit. Nulla facilisi. Fusce felis libero, porta vel vulputate eu, commodo ac massa. Sed rutrum ullamcorper est eu interdum. Phasellus rhoncus, felis vel iaculis varius, metus libero accumsan lacus, quis venenatis justo massa ut arcu. Maecenas commodo congue velit, vel suscipit nulla hendrerit a. Mauris finibus blandit enim, in dictum leo finibus sit amet. Nulla vitae elit risus. Nullam bibendum mi turpis.
</p>