/*main {
    margin: 0 1em;
    padding-top: 5em;
}

@media only screen and (min-width:800px) {
    main {
        margin: 0 3em;
    }
}*/

section:first-of-type {
    padding-top: 5em;
}

main {
    min-height:90vh;
}

footer {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    color: white;
    background-color: #004d4d;
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
}

    .btn-social > i {
        padding-top: .5rem;
    }